parameters:
    level: 4
    paths:
        - src
    excludePaths:
        - vendor
    
    # Plugin-friendly settings - ignore missing Laravel/Filament classes
    # These will be available when the plugin is loaded in a Laravel app
    ignoreErrors:
        - '#Function (trans|config|env|user|url|asset|response|app|request|route|e) not found#'
        - '#Call to static method .* on an unknown class (Illuminate|Filament)\\#'
        - '#Call to method .* on an unknown class (Illuminate|Filament)\\#'
        - '#Class .* (extends|implements|uses) unknown (class|interface|trait) (Illuminate|Filament)\\#'
        - '#has invalid (return )?type (Illuminate|Filament)\\#'
        - '#Access to .* on an unknown class (Illuminate|Filament)\\#'
        - '#Parameter .* has invalid type (Illuminate|Filament)\\#'
        - '#Instantiated class (Illuminate|Filament).* not found#'
        - '#Class (Illuminate|Filament).* not found#'
    
    # Check our own code quality
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

